---
layout: default
current: tags
class: 'all-tags'
navigation: True
---

<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<!-- #tag -->
<header class="site-header outer {% if cover or page.cover %}" style="background-image: url({{ site.baseurl }}{% if cover %}{{ cover }}{% else %}{{ page.cover }}{% endif%}) {% else %}no-cover{% endif %}">
    <div class="inner">
        {% include site-nav.html %}
        <div class="site-header-content">
            <h1 class="site-title">TAGS</h1>
            <h2 class="site-description">All tags used so far.</h2>
        </div>
    </div>
</header>
<!-- tag -->

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="post-feed">
          {% for tag in site.tags %}
          {% assign tagdata = site.data.tags | where: "name", tag[0] | first %}
          {% if tagdata.cover %}
            {% assign cover = tagdata.cover %}
          {% else %}
            {% assign cover = 'assets/images/tag-' | append: tag[0] | append: '.png' %}
          {% endif %}
              <div class="post-card {{ tag[0]}}">
                  {% if cover %}
                      <a class="post-card-image-link" href="{{ site.production_url }}tag/{{ tag[0] }}">
                          <div class="post-card-image" style="background-image: url({{ site.baseurl }}{{ cover }})"></div>
                      </a>
                  {% endif %}
                  <div class="post-card-content">
                      <a class="post-card-content-link">
                          <header class="post-card-header">
                              <h2 class="post-card-title">{{ tag[0] }}</h2>
                          </header>
                          <section class="post-card-excerpt">
                            <p>{{ tagdata.description }}</p>
                          </section>
                      </a>
                  </div>
              </div>
          {% endfor %}
        </div>
    </div>
</main>
